.App {
  width: 100%;
}
.smurf-input {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.input-error {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: red;
  font-weight: bold;
  margin-top: 5px;
}